<div class="date-picker__calendar__row date-picker__calendar__row--weekdays">
	<div class="date-picker__calendar__cell date-picker__calendar__cell--week"><span>{{cwHeader}}</span></div>
	{{#each headers}}
		<div class="date-picker__calendar__cell"><span>{{this}}</span></div>
	{{/each}}
</div>

{{#each weeks}}
	<div class="date-picker__calendar__row date-picker__calendar__row--week">
		{{#each this}}
			{{#if (present week)}}
				<div
					class="date-picker__calendar__cell date-picker__calendar__cell--week
						{{#if currentMonth}}is-current-month{{/if}}">
					<span>{{week}}</span>
				</div>
			{{else}}
				<div data-day="{{day}}" data-month="{{month}}" data-year="{{year}}"
					class="date-picker__calendar__cell js_datepicker-cell
						{{#if selected}}is-selected{{/if}}
						{{#if currentMonth}}is-current-month{{/if}}
						{{#if valid}}is-valid{{/if}}">
					<span>{{day}}</span>
				</div>
			{{/if}}
		{{/each}}
	</div>
{{/each}}
