<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		{{!-- The above 3 meta tags must come first in the head --}}

		<link rel="stylesheet" href="/css/template.css?anticache={{ buildDate }}" />
		<link rel="icon" href="/images/favicon.png" />

		{{#if (present title)}}
		<title>{{ title }}</title>
		{{else}}
		<title>{{ headline }} | TODO: Site title</title>
		{{/if}}

		{{#if (present description)}}
		<meta name="description" content="{{ description }}" />
		{{else}}
		<meta name="description" content="TODO: Site title - {{ headline }}" />
		{{/if}}

		{{#if (present keywords)}}
		<meta name="keywords" content="{{ keywords }}" />
		{{else}}
		<meta name="keywords" content="TODO: Static,list,of,keywords" />
		{{/if}}

		<meta
			name="robots"
			content="{{#if (present robots)}}{{ robots }}{{else}}index,follow{{/if}}"
		/>
	</head>

	<body class="page">
		<div id="page" class="site{{#if (eq noNavigation 'true')}} site--no-navigation{{/if}}">
			<header id="masthead" class="site-header" role="banner">
				<div class="header-main">
					<a href="/" class="header-logo" rel="home">Start page</a>
					<h1 class="site-title">
						<a href="/" rel="home">TODO: Site title</a>
					</h1>
					<h2 class="site-description">TODO: Site subtitle</h2>
					{{#if (ne noNavigation 'true')}}
					<a
						href="javascript://"
						class="mobile-navigation js_mobile-navigation"
					>
						<i class="fa fa-bars"></i>
					</a>
					{{/if}}
				</div>
			</header>

			<div id="main" class="site-main">
				<div id="main-content" class="main-content">
					<div id="primary" class="content-area">
						<div id="content" class="site-content" role="main">
							<article class="page type-page hentry">
								{{#if (present sideImage)}}
								<div class="side-image"><img src="{{ sideImage }}" /></div>
								{{/if}}
								<header class="page-header">
									<h1 class="page-title js_page-headline">{{ headline }}</h1>
									{{#if (present subline)}}
									<h2 class="page-subtitle">{{ subline }}</h2>
									{{/if}}
								</header>
								<div class="page-content">
